<section class="content">
    <article>
        <img (click)="voltardetalhes()" src="iconsetavoltar.png" alt="Voltar" class="voltar">
        <img class="listing-photo" alt="Foto" src="{{imovel?.url_foto}}">
        <section style="padding-left: 5%;" class="listing-description">
            <h2 class="listing_heading">{{imovel?.nome}}</h2>
            <p class="listing-location">{{imovel?.cidade + ", " + imovel?.estado}}</p>
        </section>
        <div style="padding-left: 5%;"class="container">
            <section class="listing-figures">
                <h2 class="section-heading">Informações de aluguel</h2>
                <ul>
                    @for(info of imovel?.aluguel; track $index){
                        <li class="list">{{info.chave}}: R${{info.valor | number:'1.2-2'}},00</li>
                    }
                </ul>
            </section>
            <section class="compra">
                <button (click)="voltardetalhes()" class="button cursor">Voltar</button>
            </section>
        </div>
    </article>
</section>