<section class="content">
    <article>
        <img class="listing-photo" alt="Foto" src="{{imovel?.url_foto}}">
        <section style="padding-left: 5%;" class="listing-description">
            <h2 class="listing_heading">{{imovel?.nome}}</h2>
            <p class="listing-location">{{imovel?.cidade + ", " + imovel?.estado}}</p>
        </section>
        <div style="padding-left: 5%;"class="container">
            <section class="listing-figures">
                <h2 class="section-heading">Informações adicionais</h2>
                <ul>
                    @for(info of imovel?.aluguel; track $index){
                        <li class="list">{{info.chave}}: R${{info.valor}},00</li>
                    }
                </ul>
            </section>
        </div>
    </article>
</section>