<section class="content">
    <article>
        <img (click)="voltar()" src="iconsetavoltar.png" alt="Voltar" class="voltar">
        <img class="listing-photo" alt="Foto" src="{{imovel?.url_foto}}">
        <section style="padding-left: 5%;" class="listing-description">
            <h2 class="listing_heading">{{imovel?.nome}}</h2>
            <p class="listing-location">{{imovel?.cidade + ", " + imovel?.estado}}</p>
        </section>
        <div style="padding-left: 5%;"class="container">
            <section class="listing-figures">
                <h2 class="section-heading">Informações adicionais</h2>
                <ul>
                    @for(info of imovel?.adicionais; track $index){
                        <li class="list">{{info.chave}}: {{info.valor}}</li>
                    }
                </ul>
            </section>
            <section class="compra">
                <button (click)="paginaAlugar()" class="button cursor">Alugar</button>
                <button (click)="paginaFinanciamento()" class="button cursor">Calcular Financiamento</button>
            </section>
        </div>
    </article>
</section>